<ul class="preview_card">
    {{#each this}}
    <li class="mini_flag">
        <img class="preview_flag" src="{{flag}}" alt="flag{{name}}" width="150">
        <h3 class="preview_title" data-name="{{name}}">{{name}}</h3>
    </li>
    {{/each}}
</ul>